.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px calc(100vh - 300px) 50px 60px;
  gap: 10px;
  justify-content: space-between;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "sidebar"
    "footer"
  }

@media (min-width: 768px) {
  .container {
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 60px calc(100vh - 140px) 60px;
  grid-template-areas:
    "header header header"
    "menu main sidebar"
    "footer footer footer"
  }
}

.header {
  grid-area: header; 
  background-color: hsl(84, 100%, 59%);
}

.menu {
  grid-area: menu; 
  background-color: hsl(0, 0%, 50%);
  color: hsl(120, 100%, 98%);
}

.main {
  grid-area: main;
  background-color: hsl(195, 53%, 79%);
}

.sidebar {
  grid-area: sidebar; 
  background-color: hsl(0, 0%, 50%);
  color: hsl(120, 100%, 98%);
}

.footer {
  grid-area: footer; 
  background-color: hsl(0, 0%, 0%);
  color: hsl(120, 100%, 98%);
}

.item {
  place-self: stretch;
  text-align: center;
  padding: 15px;
}

.edge {
  font-size: 30px;
}